spring.application.name=ai.andrew-medicare-backend

# Server port
server.port=${PORT:8080}

# CORS configuration
spring.web.cors.allowed-origins=https://medicare-ai-three.vercel.app,https://medicare-pcrkx9tsw-andrew-xiongs-projects.vercel.app,https://medicare-ai.vercel.app,https://medicare-ai-git-main-andrew-xiongs-projects.vercel.app
spring.web.cors.allowed-methods=GET,POST,PUT,DELETE,OPTIONS
spring.web.cors.allowed-headers=*

# LibreTranslate configuration
libretranslate.url=${LIBRETRANSLATE_URL:https://libretranslate.de}

# OpenAI API key for GPT-3.5 Turbo integration
openai.api.key=${OPENAI_API_KEY} 